
#root {
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
width: 100%;
height: 100%;
}


.TitleButton{
  border: none;
  font-size: 80px;
  font-weight: 10px;
  color: transparent;             /*文字を透明にする*/
    background-clip: text;          /*背景を文字で切り抜く*/
    background-image : linear-gradient(45deg,
        green,
        aqua,
        blue,
        purple);
}


.appmbti{
  font-size: 1em;
  font-weight: 500;
  color: black;
  background-color: white;
  border-image-slice: 1;
}  



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: white;
}
